.main-container{background-color:#ffffff;
   
}
#header {
	width: 100%;
	height: 64px;
	background: #000;
	z-index: 350;
	position: sticky;
}
.logo {
	height: 52px;
	width: 158px;
	margin-left: auto;
}

.navbar-nav {
	--bs-nav-link-padding-x: 0;
	--bs-nav-link-padding-y: 0.5rem;
	--bs-nav-link-font-weight: ;
	--bs-nav-link-color: var(--bs-navbar-color);
	--bs-nav-link-hover-color: var(--bs-navbar-hover-color);
	--bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
	list-style: none;
	float: right;
    background: linear-gradient(124deg,#000000b7 20%, #000000cb 100%);
   
    border-radius: 10%;
}
.iconsearch{padding-top: 21px;}
.col-lg-6 {
    flex: 0 0 auto;
}
.navbar1 {
	--bs-navbar-padding-x: 0;
	--bs-navbar-padding-y: 17px;
	--bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
	--bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
	--bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
	--bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
	--bs-navbar-brand-padding-y: 0.3125rem;
	--bs-navbar-brand-margin-end: 1rem;
	--bs-navbar-brand-font-size: 1.25rem;
	--bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
	--bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
	--bs-navbar-nav-link-padding-x: 0.5rem;
	--bs-navbar-toggler-padding-y: 0.25rem;
	--bs-navbar-toggler-padding-x: 0.75rem;
	--bs-navbar-toggler-font-size: 1.25rem;
	
	--bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
	--bs-navbar-toggler-border-radius: var(--bs-border-radius);
	--bs-navbar-toggler-focus-width: 0.25rem;
	--bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
	width: 60px;
}
.tipsrow{;}
.headicons {
    width: 130px;
    z-index: 102;
}
.web {
	z-index: 400;
	display: inline-block;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fffffff8;
	text-align: center;
	height: fit-content;
}
.navcontainer{width: 51px;}
.logosig {
border-radius: ;
height: 110px;
width: 110px;
background-color: #1d1400;
position: absolute
align-items: center;
}
.img-111 {
border-radius: 50px;
height: 100px;
width: 100px;
}
.space {
width: 100%;
height: 40px;
background-color: #1d1400;
z-index: 300;
}
.photo-logo1 {
float: left;
margin: 0 20px 5px;
}
.heading {
font-size: 28px;
font-weight: 700;
display: inline;
padding-right: 10px;
color:#000000;
}
.version {
	letter-spacing: -.6px;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	color: #ffa700;
}
.licenses {
text-transform: capitalize;
color:  rgb(0, 0, 0);
padding: 1px;
white-space: nowrap;
font-family: inherit!important;
font-size: unset!important;
font-weight: unset!important;
background-color: rgba(28, 209, 28, 0.5);
}
.formats {
background-color: rgba(82, 82, 82, 0.5);
color: rgb(0, 0, 0);
padding: 1px;

}
.rating {
height: 1.2rem;
font-size: .75rem;
line-height: 1.2rem;
padding-left: 16px;
color: #00000094;
background-image: url(/images/stars-solid.svg);
background-repeat: no-repeat;
background-position: left 2px;
background-size: 13px;
}
.verified-safety{text-decoration: none;
color:#685543;
margin-left: 10px;}
.space2{height: 25px;}
.discrption-div {
   text-align: center;
   color: #ffffffde;
   font-size: large;
}
.download-text{font-size: larger;}
#logo-pic {
   
    background-color: #141003c7;
    height: 900px;
    
}

.logoi {
    
    border-radius: 100px;
}
#logo-position{
    position: absolute;
    z-index: 100;
	width: 100%

}

#logo-position2{
    position: absolute;
    z-index: 1;
	width: 100%
	
}

#spacer{
    height: 45px;


}
#spacer2 {
    height: 35px;
    width: 10px;
}
#spacer3{height: 20px;}
#spacer4{height: 20px;}
#spacer5{height: 50px;}
#secter2{
    display: flex


}
.download-btn {
	height: 58px;
	width: 150px;
	border-radius: 11px;
	border-block-color: #40c1558a;
	background-color: #04642d;
}
.heading-div{
	background: linear-gradient(124deg, #000000 40%, #000000 100%);
	padding: 10px 20px;
	color: #fff;
	
	font-size: 19px;
}
 .wi{
    height: fit-content;
	width: 100%;
    background-color:  #fffffff8;
}
#spacer6{
    height: 12px;
}
.text-para {
	color: #242222;
	font-size: large;
	
}
.spacer7{height: 15px;}
.spacer8{height: 25px;}
.spacer9{height: 25px;}

.box-text {
	width: 600px;
	height: auto;
	border: 2px solid rgb(255, 0, 0);
	color:  #000000;
}
.table-details1{
	width: 400px;
	align-items: right;
}
.box-text2 {
	width: 600px;
	height: auto;
	border: 2px solid rgb(1, 224, 138);
	color:  #c5c5c5;
}
.dis-heading {
    background-image: linear-gradient(124deg, #ff0000 40%, #070ac1 100%);
    color: #fff;
    padding: 0px 10px 0px 10px;
    text-align: center;
    border-radius: 0px 15px;
    display: inline-block;
	margin-right: auto;
}#footer {
	background-color: #04030e;
	width: 100%;
}

.decoretion{
    text-decoration: none;
    color: #e4c290;

}
#menu-item-3114{text-decoration: none;}
.widget-title{color: #eee;}
.tittle-head{padding-left: 10px;}
.text-position{margin-left: 20px;}
