.main-container{background-color:#1d1400;}



.header {
	width: 100%;
	height: 64px;
	background: linear-gradient(124deg,#000 20%, #000000d5 100%);
	z-index: 350;
	position: sticky;
}
.logo {
	height: 52px;
	width: 158px;
	margin-left: 2px;
}
.title-name {
    margin-left: 88px;
    margin-top: -11px;
    color:white;
    margin-top: -44px;
    

}
.navbar-nav {
	--bs-nav-link-padding-x: 0;
	--bs-nav-link-padding-y: 0.5rem;
	--bs-nav-link-font-weight: ;
	--bs-nav-link-color: var(--bs-navbar-color);
	--bs-nav-link-hover-color: var(--bs-navbar-hover-color);
	--bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
	list-style: none;
	float: right;
    background: linear-gradient(124deg,#000000b7 20%, #000000cb 100%);
   
    border-radius: 10%;
}
.iconsearch{padding-top: 21px;}
.col-lg-6 {
    flex: 0 0 auto;
}
.navbar1 {
	--bs-navbar-padding-x: 0;
	--bs-navbar-padding-y: 17px;
	--bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
	--bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
	--bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
	--bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
	--bs-navbar-brand-padding-y: 0.3125rem;
	--bs-navbar-brand-margin-end: 1rem;
	--bs-navbar-brand-font-size: 1.25rem;
	--bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
	--bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
	--bs-navbar-nav-link-padding-x: 0.5rem;
	--bs-navbar-toggler-padding-y: 0.25rem;
	--bs-navbar-toggler-padding-x: 0.75rem;
	--bs-navbar-toggler-font-size: 1.25rem;
	
	--bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
	--bs-navbar-toggler-border-radius: var(--bs-border-radius);
	--bs-navbar-toggler-focus-width: 0.25rem;
	--bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
	width: 60px;
}
.tipsrow{;}
.headicons {
    width: 130px;
    z-index: 102;
}
.section12{z-index: 120;}
.navcontainer{width: 51px;}
.section2{}

#card-in {
	width: 116px;
	margin: -2px;
	background-color: #1d1400;
}
.card-title {
	margin-bottom: var(--bs-card-title-spacer-y);
	color: var(--bs-card-title-color);
	
}
#card-heading {
	font-size: 16px;
	margin: 10px;
	margin-bottom: 4px;
	color: white;
}

.discover{
    height: 75px;
    width: 148px;
   
}
.card-container{
    height: 5px;
    width: 65px;
}
.left-sec{}
.edge-title{
    background-color:  #1d1400;
    align-items: center;
}
#news{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color:  #1d1400;#3f2806;
}

.wide-list.qas .wide-list__item a {
    font-weight: 700;
    display: block;
}
.wide-list__item {
    display: block;
    width: 100%;
    text-align: center;
    
}
.wide-list-contant-text{-webkit-text-fill-color: #e4c290;}
.edge-title{
    padding-left: 30px;
    text-align: center;
    margin: 10px;
    

}
.tricks-tittle{
    background-color: #291801;
    padding-left: 30px;
    text-align: center;
    margin: 10px;}
    #wide-list__content {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        background-color: #291801;
        width: 95%;
    }
.wide-list.apps .wide-list__item a {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    
}



.sidebar .sidebox {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 0 1px #eee inset;
}
#sec-5-row {
	width: 100%;
	height: 68px;
	text-decoration: none;
	align-items: start;
}
.img1 {
    align-items: center;
    max-width: 100%;
    height: 68px;
    border-radius: 13px;
    padding-left: 1px;
    display: block;
}
.title{
    
    font-size: 1rem;
    line-height: 1.4rem;
    color: #e4e4e4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.other {
    font-size: .75rem;
    line-height: 1.2rem;
    color: #919191;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rating {
    height: 1.2rem;
    font-size: .75rem;
    line-height: 1.2rem;
    color: #fa8b16;
    background-image: url(pics/star_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position-x:14px ;
    background-position-y:2px ;
    
}


.logo-tittle{
    height: 70px;
    -webkit-text-fill-color:#e4c290
}
.logo-img-b{
    object-fit: cover;
}
#footer {
    background-color: #04030e;
    width: 100%;
    
}

.decoretion{
    text-decoration: none;
    color: #e4c290;

}
#menu-item-3114{text-decoration: none;}
.widget-title{color: #eee;}
.tittle-head{padding-left: 10px;}
.text-position{margin-left: 20px;}